@import '../../styles/variables.scss';
.call{
	display: flex;
	align-items: center;
	padding-right: 25px;
	border-right: 1px dashed rgba($gray, .1);
	margin-right: 25px;
}
.info{
	text-align: right;
	margin-right: 14px;
}
.phone{
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	color: $dark;
	margin-bottom: 5px;
}
.time{
	font-weight: 300;
	font-size: 12px;
	line-height: 1.5;
	color: $gray;
	margin-bottom: 5px;
}
.link{
	text-decoration: underline;
	cursor: pointer;
	font-weight: 400;
	font-size: 10px;
	color: $gray;
}
.image{
	width: 62px;
	height: 80px;
}